@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P",sans-serif;
}


#background-img{
    height: 100vh;
    width: 100vw;
    background-image: url("./assets/screen\ 4.png");
    background-size:100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

h1{
    font-size: 100px;
    color: white;
}

#score{
    font-size: 50px;
    color: white;
}

#started{
    width: 200px;
    height: 40px;
    cursor: pointer;
}

#home{
    position: relative;
    bottom: 70px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

/* @media only screen and (max-width:600px){
    h1{
        position: fixed;
        left: 20px;
        top: 0px;
    
    }
} */